.trafficTop{
    height: 80px;
    width: 15px;
    background: black;
    display: inline-block;
    margin: 0;
}

.traffic{
    height: 400px;
    width: 150px;
    margin-top: 0;
    border-radius: 5px;
    display: grid;
}

.traffic div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-self: center;
    margin: auto;
    
}
.red-light{
    background: red;
}
.yellow-light{
    background: yellow;
}
.green-light{
    background: green;
}
